{% extends 'layout.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row-picture">
                    <img src="{{ asset('/assets/images/img.png') }}">
                </div>
                <div class="row-content">
                    <br>
                    <i class="glyphicon glyphicon-user"></i> Name: {{ entry.name }}
                    <br>
                    <i class="glyphicon glyphicon-phone-alt"></i> Phone: {{ entry.phone }}
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <a class="btn btn-default" href="{{ path('get_users') }}">
                <i class="fa fa-step-backward"></i> Back to the list</a>
        </div>
    </div>
    <hr>
{% endblock %}